/* Login page */
#login-header {
    margin-top: 2%;
}

#login-form {
    margin-top: 10%;
}

#email-input {
    margin: 1em;
}

#pwd-input {
    margin: 1em;
}

#login-btn {
    margin: 1em;
}

/*post*/

/*USER LIST*/

/*user info panel*/
.border {
    border-radius: 80%;
    width: 11em;
    height: 10em;
} 

