/* Login page */
#login-header {
    margin-top: 2%;
}

#login-form {
    margin-top: 6%;

}

#logo {
    margin-left: 2.8em;
}

#login-status-message {
    color: red;
    margin-bottom: 3%;
}

#email-input {
   background-color: rgb(40, 40, 40);
   border-width: 2px;
   border-color: rgb(10, 89, 121);
   color: white;
}

#pwd-input {
    background-color: rgb(40, 40, 40);
   border-width: 2px;
   border-color: rgb(10, 89, 121);
   color: white;
}

#login-btn {
    margin-left: 2em;
    width: 20em;
    height: 3em;
}

#invalid-login {
    color: red;
}

#login-background {
      /* The image used */
      background-image: url(../src/images/bvc.png);

      /* Full height */
      height: 100vh; 
  
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}

#login-userpass {
    color: white;
}


#login-head {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 2em;
    margin-bottom: 1em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#login-msg {
    color:#696969;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1em;
    margin-bottom: 2.2em;
    margin-top: -1em;
}

/*post*/

/*USER LIST*/

/*user info panel*/
#profile {
    background-color: #10355f;
    border-radius: 80%;
    width: 5em;
    height: 5em;
    margin-top: 4px;
} 

#profileText {
    margin-left: 1.6rem;
    color: white;
    font-size: 50px;
}

#logout {
    margin-top: 2em;
    margin-left: 0.8em;
}

#main-panel {
  
    overflow: hidden;
    background-image: linear-gradient(black, #365c82, black);
}

#user-list-label {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 2em;
    color: white;
    margin-top: 2em;
}

#user-list {
    overflow:auto;
    
}


#firstlastname {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1.5em;
    color: white;
}

#username {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1em;
    color: white;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 50%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }



/* css for new post*/

#new-post {
    width:50%;
    margin-top: 6%;
    margin-left: 26%;
}

#post-title
{
    color:white;
    font-size: 17;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#close-post
{
    margin-left: 63%;
    height: 5%;
    width: 7%;

}

.post {
    background-color: #586877;
    color: white;
    box-shadow: 10px 10px 5px rgba(125, 124, 124, 0.214);
}

div.newPostButton {
    position: fixed;
    top: 40px;
    right: 40px;
    display:inline-block;
    padding-bottom: 10px;
    /* padding:0.35em 1.2em; */
    width: 90px;
    border:0.03em solid #FFFFFF;
    border-radius:10em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size: 50px;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    background-color: transparent;
    }

    div.newPostButton:hover{
    color: white;
    background-color:purple;
    }

    @media all and (max-width:40em){
    div.newPostButton{
        display:block;
        margin:0.4em auto;
    }
}

.receipient-button
{
    background-color: #47748b;
    color: white;
    border-radius: 50px;
}

/** Error page */

#error-page-background {
    height: 100vh;
    color: white;
    background-image: linear-gradient(black, #365c82, black);
}
