/* Login page */
#login-header {
    margin-top: 2%;
}

#login-form {
    margin-top: 10%;
}

#email-input {
    margin: 1em;
}

#pwd-input {
    margin: 1em;
}

#login-btn {
    margin: 1em;
}

#invalid-login {
    color: red;
}

/*post*/